<h1>My Purchases</h1>

<table class="table table-striped">
  <tr>
    <th>
      Date
    </th>
    <th>
      Purchase
    </th>
    <th>
      Price
    </th>
    <th>
      Quantity
    </th>
    <th>
    </th>
  </tr>

  <% @expenditures.each do |expenditure| %>
    <tr>
      <td>
        <%= expenditure.purchase_date.to_date %>
      </td>
      <td>
        <%= expenditure.name %>
      </td>
      <td>
        R<%= expenditure.price %>
      </td>
      <td>
        <%= expenditure.quantity %>
      </td>
      <td>
        <%= link_to 'Expand', expenditure_path(expenditure) %>
      </td>
  <% end %>
</table>

<%= link_to 'Add Purchase', new_expenditure_path %>